# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode build products
DerivedData/
build/
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace/xcuserdata/
.playgroundworkspace/xcuserdata/

# App archives and symbols
*.xcarchive
*.dSYM

